@use 'breakpoints' as *;

.btn--filter-toggle{
    background-color: var(--color-filter);
    font-size: 1.25em;
    border: 1px solid var(--color-footer);
    color: var(--color-text);
    margin-bottom: 1em;

    opacity: 0;
    pointer-events: none;
    @include desktop-down {
        opacity: 1;
        pointer-events:initial;
      }
}

.btn__filter-icon {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin-right: .5em;
    gap: 4px;
    width: 18px;
  
    span {
      display: block;
      height: 2px;
      background: currentColor;
      border-radius: 999px;
    }
  
    span:nth-child(1) {
      width: 100%;
    }
  
    span:nth-child(2) {
      width: 70%;
    }
  
    span:nth-child(3) {
      width: 40%;
    }
  }

.filter{
    background: var(--color-filter);
    border-radius: var(--border-radius);
    min-width: 16.5em;

    @include desktop-down {
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 0;
        min-width: 18.5em;
        z-index: 4;
        height: 100%;
        display: none;
        box-shadow: 6px 0 12px -6px rgba(0, 0, 0, 0.5);
        &.is-open{
            display: block;
        }
      }
      @include mobile-down {
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 0;
        min-width: 100%;
        z-index: 1000;
        display: none;
        &.is-open{
            display: block;
        }
      }

    &__title{
        font-size: 1.125em;
        text-align: center;
    }

    &__header{
        padding: 1em;
        position: relative;
        border-bottom: 1px solid var(--color-footer);
        @include desktop-down {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__close{
        display: none;
        @include desktop-down {
            display: block;
            position: relative;
        top: auto;
        right: auto;
        }
    }

    &__content{
        padding: 1em;
    }
}