<button class="btn btn--filter-toggle"  aria-label="Ver filtros"
(click)="toggleFilter()">
    <span class="btn__filter-icon" aria-hidden="true">
        <span></span>
  <span></span>
  <span></span>
    </span>
    Ver filtros
  </button>

<aside class="filter" aria-label="Filtros" [class.is-open]="isFilterOpen">
    <div class="filter__header">
    <h2 class="filter__title">Filtrar mi búsqueda</h2>
    <button
      class="filter__close btn--close"
      type="button"
      aria-label="Cerrar"
      (click)="toggleFilter()"
    >
      ✕
    </button>
</div>
<div class="filter__content">
    <app-filter-section *ngFor="let section of sections" [title]="section.title" [icon]="section.icon ?? ''">
  
      <ng-container *ngIf="section.type === 'checkbox'">
        <app-checkbox
          *ngFor="let item of section.items"
          [id]="item.id"
          [label]="item.label"
          [checked]="!!item.checked"
          (checkedChange)="onTagChange(item.id, $event)"
        ></app-checkbox>
      </ng-container>
  
      <ng-container *ngIf="section.type === 'price'">
        <app-price-input
          (minChange)="onMinPriceChange($event)"
          (maxChange)="onMaxPriceChange($event)"
        ></app-price-input>
      </ng-container>
  
    </app-filter-section>
</div>
  </aside>
  