.btn--filter-toggle{
    background-color: var(--color-filter);
    font-size: 1.25em;
    border: 1px solid var(--color-footer);
    color: var(--color-text);
    margin-bottom: 1em;

   // opacity: 0;
   // pointer-events: none;
}

.btn__filter-icon {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin-right: .5em;
    gap: 4px;
    width: 18px;
  
    span {
      display: block;
      height: 2px;
      background: currentColor;
      border-radius: 999px;
    }
  
    span:nth-child(1) {
      width: 100%;
    }
  
    span:nth-child(2) {
      width: 70%;
    }
  
    span:nth-child(3) {
      width: 40%;
    }
  }

.filter{
    background: var(--color-filter);
    border-radius: var(--border-radius);
    min-width: 16.5em;
    &__title{
        font-size: 1.125em;
        text-align: center;
    }

    &__header{
        padding: 1em;
        position: relative;
        border-bottom: 1px solid var(--color-footer);
    }

    &__close{
        display: none;
    }

    &__content{
        padding: 1em;
    }
}