@use 'breakpoints' as *;
.footer {
    &__brand {
       background-color: var(--color-filter);
       display: flex;
       justify-content: center;
       align-items: center;
       padding: 2.6em;
       border-top: 1px solid color-mix(in srgb, var(--color-accent) 16%, transparent);;
       @include desktop-down {
        justify-content: start;
      }
    }
  
    &__legal {
      background-color: var(--color-footer);
    }
    &__copyright{
        font-size: 0.875em;
        font-weight: 700;
        text-align: center;
        color: var(--color-accent);
        margin: 0;
        padding: 1em;
    }
  }