.btn {
    display: inline-flex;
    min-height: 2.5em;
    align-items: center;
    justify-content: center;
  
    padding: .5em 1.5em;
    border-radius: var(--border-radius);
  
    border: 1px solid transparent;
    cursor: pointer;
    text-decoration: none;
  
    &:active {
      transform: translateY(1px);
    }

    &--purple {
      background-color: var(--color-accent);
      color: var(--color-bg);

      &:hover {
        background-color: var(--color-accent-hover);
        color: var(--color-bg-hover);
      }
    }
  
    &--orange {
      background-color: var(--color-primary);
      color: var(--color-text);

      &:hover {
        background-color: var(--color-primary-hover);
        color: var(--color-text-hover);
      }
    }
  
    &--cta {
      min-height: 3em;
      padding-left: 2.5em ;
      padding-right: 2.5em;
      margin: auto;
    }

    &--outline {
      background-color: var(--color-bg);
  
      &.btn--purple {
        color: var(--color-accent);
        border: 1px solid var(--color-accent);

        &:hover {
          background-color: var(--color-bg-hover);
          color: var(--color-accent-hover);
        }
      }
    }

    &--close {
      position: absolute;
      top: 0.75rem;
      right: 0.75rem;
      z-index: 2;
      width: 36px;
      height: 36px;
      display: grid;
      place-items: center;
      background: transparent;
      border: 0;
      cursor: pointer;
      font-size: 1.25rem;

      &:hover {
        background: var(--color-filter-hover);
        color:var(--color-text-hover);

      }
  }
}
  