.btn {
    display: inline-flex;
    min-height: 2.5em;
    align-items: center;
    justify-content: center;
  
    padding: .5em 1em;
    border-radius: $border-radius;
  
    border: 1px solid transparent;
    cursor: pointer;
    text-decoration: none;
  
  

    &--purple {
      background-color: var(--color-accent);
      color: var(--color-bg);
    }
  
    &--orange {
      background-color: var(--color-primary);
      color: var(--color-bg);
    }
  

    &--outline {
      background-color: var(--color-bg);
  
      &.btn--purple {
        color: var(--color-accent);
        border: 1px solid var(--color-accent);
      }
    }

  }
  