.icon {
    width: 24px;
    height: 24px;
    color: currentColor;
    display: inline-block;
  }

  .logo {
    --color-principal: var(--color-primary);
    --color-accent: var(--color-accent);
  }
  
  .logo svg {
    width: 170px;
    height: 45px;
    display: block;
  }