body {
    font-family: $font-base;
    font-size: $font-size;
    color: $color-text;
  }
  
  h1,
  h2,
  h3 {
    font-family: $font-title;
    font-weight: $font-weight-bold;
  }
  
  h1 {
    font-size: 2.375em;
  }
  
  h2 {
    font-size: 1.875em;
  }
  
  h3 {
    font-size: 1.125em;
  }
  
  