/* =========================
   COLORS
   ========================= */
   $color-orange: #ff7a00;
   $color-purple: #5a2d82;

   
   $color-text: #342e34;
   $color-text-muted: #6b7d8d;
   
   $color-bg: #ffffff;
   $color-filter: #fbf6f4;
   $color-footer: #e0d9e0;
   
   /* =========================
      TYPOGRAPHY
      ========================= */
   $font-title: 'Syne', sans-serif;
   $font-base: 'Nunito', sans-serif;
   $font-size:16px;
   
   $font-weight-regular: 400;
   $font-weight-medium: 600;
   $font-weight-bold: 700;

   
   /* =========================
      RADIUS
      ========================= */
   $radius-sm: 1em;
   