
   $color-orange: #FF8F50;
   $color-purple: #5a2d82;

   
   $color-text: #342e34;
   $color-text-muted: #6B7D8D;
   
   $color-bg: #ffffff;
   $color-filter: #fbf6f4;
   $color-footer: #e0d9e0;
   
   $font-title: 'Syne', sans-serif;
   $font-base: 'Nunito', sans-serif;
   $font-size:16px;
   
   $font-weight-regular: 400;
   $font-weight-medium: 600;
   $font-weight-bold: 700;

   $border-radius: 2em;


   :root {
    --color-primary: #{$color-orange};
    --color-accent: #{$color-purple};
    --color-filter:#{$color-filter};
    --color-text: #{$color-text};
    --color-bg: #{$color-bg};
    --color-muted: #{$color-text-muted};
    --color-footer: #{$color-footer};

    --color-primary-hover: #d67843;
    --color-accent-hover: #471f45;
    --color-text-hover: #2d242d;
    --color-filter-hover: #f4e8e1;
    --color-bg-hover: #f8f7f8;
    --color-footer-hover: #d1c7d1;

    --border-radius: #{$border-radius};

    --font-title:#{$font-title};
    --font-base:#{$font-base};
   
    --focus-ring: 2px solid var(--color-focus);
    --focus-offset: 2px;
           
  }
   