.main{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(2, auto);
    gap: 1em;
    &__header{
        padding: 3em 0;
        text-align: center;
        grid-area: 1 / 1 / 2 / 3;
    }

    &__title{
        margin: .2em;
    }

    &__subtitle{
        font-size: 1.375em;
        color: var(--color-muted);
        font-weight: 400;
        margin: .2em;
    }

    &__filter {
        grid-area: 2 / 1 / 3 / 2;
        max-width: 264px;
    }
    &__content{
        grid-area: 2 / 2 / 3 / 3;
    }
}
