@use 'breakpoints' as *;

.modal {
    position: fixed;
    inset: 0;
    z-index: 4;
    display: grid;
    place-items: center;
  
    &__overlay {
      position: absolute;
      inset: 0;
      background: rgba(0, 0, 0, 0.5);
      backdrop-filter: blur(2px);
    }
  
    &__content {
      position: relative;
      z-index: 1;
      width: min(400px, 100%);
      background: var(--color-bg);
      border-radius: var(--border-radius);
      @include mobile-down {
        min-height: 100vh;
        border-radius: 0;
        z-index: 10;
      }
    }
  
    &__close {
      &:focus-visible {
        outline: 2px solid #111827;
        outline-offset: 2px;
      }
    }
  }
  