.checkbox {
    display: flex;
    align-items: center;
    min-height: 3em;
    cursor: pointer;

    &:hover {
        color: color-mix(in srgb, var(--color-primary) 70%, #000 30%);
      }
  
    &__input {
      height: 1.1em;
      width: 1.1em;
  
      &:checked {
        accent-color: var(--color-primary);
  
        + .checkbox__label {
          font-weight: 700;
        }
      }
    }
  
    &__label {
      font-size: 0.875em;
      margin-left: 0.5em;
    }
  
    &__tooltip {
      position: relative;
      display: inline-flex;
      align-items: center;
      aspect-ratio: 1 /1;
    }
  
    &__tooltip-trigger {
      width: 0.75em;
      height: 0.75em;
      padding: .5em;
      border-radius: 50%;
      font-size: .75em;
      line-height: 1;
      cursor: pointer;
      border: 1px solid currentColor;
      margin-left: .5em;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      &:hover {
        background-color: var(--color-filter-hover);
      }
    }
  
    &__tooltip-content {
      position: absolute;
      bottom: calc(100% + 8px);
      left: 50%;
      transform: translateX(-50%);
      z-index: 10;
  
      background: var(--color-bg);
      padding: 8px 10px;
      border-radius: 4px;
      font-size: 0.875em;
      line-height: 1.4;
      white-space: nowrap;
  
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.2s ease;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
      pointer-events: none;
      &::after {
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
    
        width: 0;
        height: 0;
    
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 6px solid var(--color-bg);
      }
    }
  
    &__tooltip-trigger:hover + &__tooltip-content,
    &__tooltip-trigger:focus + &__tooltip-content {
      opacity: 1;
      visibility: visible;
    }
  }
  