<label class="checkbox">
    <input
      class="checkbox__input"
      type="checkbox"
      [checked]="checked"
      (change)="onChange($event)"
    />
  
    <span class="checkbox__label">
      {{ label }}
  
      <span class="checkbox__tooltip">
        <button
          class="checkbox__tooltip-trigger"
          type="button"
          [attr.aria-describedby]="'checkbox-tooltip-info-' + toStr(label)"
        >
          <span class="visually-hidden">Más información</span>
          i
        </button>
  
        <span
          class="checkbox__tooltip-content"
          role="tooltip"
          id="checkbox-tooltip-info-{{ label }}"
        >
          Este es el contenido del tooltip.
        </span>
      </span>
    </span>
  </label>  