@use 'breakpoints' as *;
.site-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 5em;
    padding: 0 1em;
    border-bottom: 1px solid var(--color-primary);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 4;
    background: var(--color-bg);
  
    &__nav {
        flex: 1;
        display: flex;
        justify-content: center;
        position: relative;
        @include desktop-down {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            z-index: 3;
            background-color: var(--color-bg);
            display: none;
            &.is-open{
                display: flex;
            }
          }
    }
  
    &__menu {
        display: flex;
        justify-content: space-around;
        align-items: center;
        max-width: 46em;
        width: 100%;
        list-style: none;
        padding: 0;
        margin: 0;
        @include desktop-down {
            position: absolute;
            top: 5em;
            left: 0;
            max-width: 100%;
            flex-direction: column;
            background-color: var(--color-bg);
            box-shadow: 0 6px 12px -6px rgba(0, 0, 0, 0.5);
          }
    }
  
    &__item{
        @include desktop-down {
            width: 100%;
          }
    }
    &__link {
      color: var(--color-text);
      min-height: 5em;
      height: 100%;
      padding: 0.4em 1em;
      display: flex;
      align-items: center;
      gap: 0.5em;
      text-decoration: none;
      position: relative;

      &:hover {
        background-color: var(--color-bg-hover);
      }


      &:active {
        transform: translateY(1px);
      }

      @include desktop-down {
       justify-content: center;
      }
  
      &--active {
        font-weight: 700;
        border-bottom: 2px solid var(--color-primary);
        transform: translateY(1px);
        overflow: hidden;
  
        &::after {
          content: "";
          width: 1em;
          height: 1em;
          display: block;
          background-color: var(--color-primary);
          position: absolute;
          bottom: -0.5em;
          left: 50%;
          transform: translateX(-50%) rotate(45deg);
        }
      }
    }

    &__icon {
      flex-shrink: 0;
    }

    &__cta{
        @include desktop-down {
            display: none;
          }
    }

    &__toggle{
        display: none;
        @include desktop-down {
            display: block;
            cursor: pointer;
            background: transparent;
            border: none;
            font-size: 1.3em;

            &:hover {
                background-color: var(--color-bg-hover);
              }
            
              &:active {
                transform: translateY(1px);
              }
          }
    }
  }
  