.site-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1em;
    border-bottom: 1px solid var(--color-primary);
  
    &__nav {
        flex: 1;
        display: flex;
        justify-content: center;
    }
  
    &__menu {
        display: flex;
        justify-content: space-around;
        align-items: center;
        max-width: 46em;
        width: 100%;
        list-style: none;
        padding: 0;
        margin: 0;
    }
  
    &__link {
      color: var(--color-text);
      min-height: 5em;
      height: 100%;
      padding: 0.4em 1em;
      display: flex;
      align-items: center;
      gap: 0.5em;
      text-decoration: none;
      position: relative;
  
      &--active {
        font-weight: 700;
        border-bottom: 2px solid var(--color-primary);
        transform: translateY(1px);
        overflow: hidden;
  
        &::after {
          content: "";
          width: 1em;
          height: 1em;
          display: block;
          background-color: var(--color-primary);
          position: absolute;
          bottom: -0.5em;
          left: 50%;
          transform: translateX(-50%) rotate(45deg);
        }
      }
    }

    &__icon {
      flex-shrink: 0;
    }
  }
  