.card {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100%;
  background: var(--color-bg);
  border-radius: var(--border-radius);
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  transition: transform 0.15s ease, box-shadow 0.15s ease;

  &__media {
    position: relative;
  }

  &__img {
    display: block;
    width: 100%;
    height: 11.75em;
    object-fit: cover;
  }

  &__badges {
    position: absolute;
    top: 1em;
    right: 1em;
    display: flex;
    gap: .5em;
    flex-wrap: wrap;
  }

  &__content {
    margin: 1em;
  }

  &__description {
    font-size: 0.875rem;
    color: var(--color-accent);
    font-family: var(--font-title);
    margin: 0 0 0.25rem 0;
  }

  &__time {
    color: var(--color-text);
    font-family: var(--font-base);
  }

  &__title {
    font-size: 1.125rem;
    color: var(--color-text);
    margin: 0;
    font-family: var(--font-base);
  }

  &__footer {
    background: var(--color-filter);
    padding: 1em;
  }

  &__footer--pricing {
    display: grid;
    column-gap: 1rem;
    row-gap: 0.25rem;

    grid-template-columns: 1fr auto;
    grid-template-areas:
      "from   button"
      "amount button"
      "link   button";

    align-items: center;
  }

  &__from {
    grid-area: from;
    font-size: 0.75rem;
  }

  &__amount {
    grid-area: amount;
    font-size: 1.375em;
    font-weight: 700;
    color: var(--color-text);
    line-height: 1.1;
  }

  &__link {
    grid-area: link;
    font-size: 1rem;
    color: var(--color-accent);
    text-decoration: underline;
    cursor: pointer;
    justify-self: start;
    white-space: nowrap;
    &::after {
      content: '';
      display: inline-block;
      width: 0.5em;
    height: 0.5em;
    margin: 0.5em;
    margin-bottom: 0.2em;
    border-right: 2px solid currentColor;
    border-bottom: 2px solid currentColor;
    transform: rotate(45deg)
    }
    :hover {
     color: var(--color-accent-hover);
    }
  }

  &__button {
    grid-area: button;
    font-size: 1em;
    justify-self: end;
    align-self: flex-end;
    white-space: nowrap;
  }
}
