<article class="card">
    <div class="card__media">
      <img class="card__img" [alt]="item.alt" [src]="item.img" />
  
      <div class="card__badges">
        <app-badge *ngFor="let b of item.badges" [text]="b"></app-badge>
      </div>
    </div>
  <div class="card__content">
    <p class="card__description">
      {{ item.location }} <span class="card__time">{{ item.daysText }}</span>
    </p>
    <h3 class="card__title">{{ item.title }}</h3>
</div>
  
      <div class="card__price card__footer">
        <span class="card__from">Desde</span>
        <span class="card__amount">{{ item.priceText }}</span>
        <a class="card__link" href="#" (click)="onBreakdownClick($event)">Ver desglose</a>
        <button class="btn btn--outline btn--purple" type="button">Reservar</button>
      </div>
  
  </article>
  
