.card {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100%;

  background: var(--color-bg);
  border-radius: var(--border-radius);
  overflow: hidden;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transition: transform 0.15s ease, box-shadow 0.15s ease;


  &__media {
    position: relative;
  }

  &__img {
    display: block;
    width: 100%;
    height: auto;
  }

  &__badges {
    position: absolute;
    top: 12px;
    left: 12px;

    display: flex;
    gap: 8px;
    flex-wrap: wrap;
  }

  &__description {
    font-size: 0.875rem;
    color: var(--color-accent);
    font-family: var(--font-title);
  }

  &__time {
    color: var(--color-text);
    font-family: var(--font-base);
  }

  &__title {
    font-size: 1.125rem;
    color: var(--color-text);
    margin: 0;
    font-family: var(--font-base);
  }
  &__content {
    margin: 1em;
      }
  &__footer {
background:var(--color-filter);
display: grid;
padding: 1em;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(3, auto);
  }

  &__from {
    grid-area: 1 / 1 / 2 / 2;
    font-size: 0.75rem;
  }

  &__amount {
    font-size: 1.125rem;
    color: var(--color-text);
    grid-area: 2 / 1 / 3 / 2;
  }

  &__button{
    grid-area: 1 / 2 / 4 / 3;
  }

  &__link {
    font-size: 0.75rem;
    color: var(--color-accent);
    text-decoration: underline;
    cursor: pointer;
    grid-area: 3 / 1 / 4 / 2;
  }
}
