.hero {
    position: relative;
    margin-top: 5em;
    overflow: hidden;
  
    &__slide {
      position: relative;
      display: none;
      height: 25em;
    }
  
    &__slide.is-active {
      display: block;
    }
  
    &__image {
      width: 100%;  
      height: 100%;
      min-height: 25em;
      object-fit: cover;
      display: block;
    }
  
    &__slide::after {
      content: '';
      position: absolute;
      inset: 0;
      background:rgba(0, 0, 0, .5);
    }
  
    &__content {
      position: absolute;
      inset: 0;
      z-index: 1;
      display: grid;
      place-content: center;
      text-align: center;
      color: var(--color-bg);
    }
  
    &__title {
        font-size: 2.125em;
        margin: 0;
    }
  
    &__subtitle {
        font-size: 1.5em;
        margin: .5em;
        margin-bottom: 3em;
        font-weight: 500;
    }

  
    &__control {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 2;
      font-size: 1.5em;
      width: 40px;
      height: 40px;
      border: none;
      cursor: pointer;
      display: grid;
      place-items: center;
      background: var(--color-footer);
      color: var(--color-bg);
  
      &--prev { left: 0; }
      &--next { right: 0; }
      &:hover {
        background-color: var(--color-footer-hover);
        color: var(--color-bg-hover);
      }
    }
  
    &__dots {
      position: absolute;
      left: 50%;
      bottom: 2em;
      transform: translateX(-50%);
      z-index: 2;
      display: flex;
      gap: 6px;
    }
  
    &__dot {
        padding: 0;
      width: 10px;
      height: 10px;
      aspect-ratio: 1 / 1;
      display: inline-block;
      border-radius: 100%;
      border: 1px solid var(--color-bg);
      cursor: pointer;
      background: var(--color-footer);

      &:hover {
        background-color: var(--color-footer-hover);
      }
  
      &.is-active {
        background: var(--color-primary);
      }
    }
  }
  