@use 'breakpoints' as *;
.breakdown {

    &__header {
      border-radius: var(--border-radius) var(--border-radius) 0 0;
      background: var(--color-filter);
      @include mobile-down {
        border-bottom: 1px solid var(--color-footer);
        border-radius: 0;
      }
    }
  
    &__description {
        margin: 0;
        padding: 1.2em;;
      font-size: 1.125em;
      color: var(--color-accent);
        span{
            color: var(--color-text);
            font-family: var(--font-base);
            display: inline-block;
            margin-left: .5em;
            font-weight: 500;
        }
    }
  
    &__list {
      padding: 0 1.5rem;
      padding-bottom: 1.2em;
      margin: 0;
      list-style: none;
      overflow-y: auto;
    }
  
    &__row {
      display: flex;
      justify-content: space-between;
      padding: 0.5rem 0;
      font-weight: 500;
    }
  
    &__total {
      padding: 1rem 1.5rem;
      border-top: 1px solid var(--color-footer);
      background: var(--color-filter);
      border-radius: 0 0 var(--border-radius) var(--border-radius);
      font-weight: 600;
      display: flex;
      justify-content: space-between;
      @include mobile-down {
        background-color: var(--color-bg);
      }
    }
  
    &__title {
      margin: 0;
      padding: 1em;
      padding-left: 1.2em;
      padding-bottom: 1em;
      font-size: 1.125em;
      font-family: var(--font-base);
      font-weight: 600;
    }
  }

  