<div class="breakdown">
    <div class="breakdown__header">
      <h3 class="breakdown__title">Desglose de precios</h3>
    </div>
  
    <p class="breakdown__description">
        <strong>{{ item.location }}</strong> <span>{{ item.daysText }}</span>
      </p>
    <ul class="breakdown__list">
      <li class="breakdown__row" *ngFor="let line of item.breakdown.lines">
        <span>{{ line.label }}</span>
        <span>{{ line.value | number:'1.2-2' }} €</span>
      </li>
    </ul>
  
    <div class="breakdown__total">
      <span>Precio final</span>
      <span>{{ item.breakdown.total | number:'1.2-2' }} €</span>
    </div>
  </div>
  
